Repository tpcofficial/big-oauth2, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, provider, provider-loader, provider-google, provider-discord, provider-aad, provider-microsoft, provider-github, provider-generic, documentation, npm-package-json

🐛 Missing required module in package
  package-lock.json
  package.json
Labels: repo, npm-package-json

🔖 Versioning
  package-lock.json
  package.json
Labels: repo, npm-package-json

🔖🐛 Versioning and more package issues
  package-lock.json
  package.json
Labels: repo, npm-package-json

🔖🐛 Versioning and more package issues
  package-lock.json
  package.json
Labels: repo, npm-package-json

🎨 Remove old providers
  providers/discord-classic.js.disabled
  providers/google-classic.js.disabled
Labels: none

🔖 Versioning
  package-lock.json
  package.json
Labels: repo, npm-package-json

📈 Change tracking to opt-in experience
  index.js
Labels: repo, provider-loader

📈 Change tracking to opt-in experience
  README.md
Labels: repo

📈 Change tracking to opt-in experience
  package.json
Labels: repo, npm-package-json

📈 Change tracking to opt-in experience
  package-lock.json
Labels: repo, npm-package-json

🛂 Do not make repeated prompts for Discord OAuth2
  providers/discord.js
Labels: provider, provider-discord

🔖 0.2.15 versioning
  package-lock.json
Labels: repo, npm-package-json

🔖 0.2.15 versioning
  package.json
Labels: repo, npm-package-json

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Labels: repo, npm-package-json

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Labels: repo, npm-package-json

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

provider:
  - any: ['providers/**/*.js']

provider-loader:
  - index.js

provider-google:
  - providers/google.js

provider-discord:
  - providers/discord.js

provider-aad:
  - providers/microsoft-enterprise.js

provider-microsoft:
  - providers/microsoft.js

provider-github:
  - providers/github.js

provider-generic:
  - providers/generic.js

documentation:
  - any: ['README.md','**/*.md','docs/**/*']

npm-package-json:
  - any: ['package*json']
