Repository tpcofficial/big-oauth2, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, provider, provider-loader, provider-google, provider-discord, provider-aad, provider-microsoft, provider-github, provider-generic, documentation, npm-package-json

📝 Badge for node.js release pipeline
  README.md
Labels: repo

🐛 Should just check if the item exists
  package-lock.json
  package.json
  providers/google.js
Labels: repo, provider, provider-google, npm-package-json

:sparkles: Added AAD provider
  providers/microsoft-enterprise.js
  providers/microsoftEnterprise.js
Labels: provider, provider-aad

🐛 #14 Check node-fetch result to see if it's okay so we can continue async
  providers/google.js
Labels: provider, provider-google

🐛 Completely rewrote the OAuth2 code exchange flow
  package-lock.json
  package.json
  providers/google.js
Labels: repo, provider, provider-google, npm-package-json

👁👄👁
  package-lock.json
  package.json
  providers/google.js
Labels: repo, provider, provider-google, npm-package-json

🚨 Stop deepsource and ESLint warns until implemented
  package-lock.json
  package.json
  providers/discord.js
  providers/google.js
  providers/microsoftEnterprise.js
Labels: repo, provider, provider-google, provider-discord, npm-package-json

✨ Return easily identifiable user data instead of the object
  providers/google.js
Labels: provider, provider-google

🎨 Redo promise flow to ensure we resolve / await correctly
  package-lock.json
  package.json
  providers/google.js
Labels: repo, provider, provider-google, npm-package-json

✨ Generic OAuth2 handler
  package-lock.json
  package.json
  providers/generic.js
Labels: repo, provider, provider-generic, npm-package-json

🎨 Clone Google provider into AAD
  package-lock.json
  package.json
  providers/microsoftEnterprise.js
Labels: repo, provider, npm-package-json

🎨 Completed first rev. of GenericHandler
  package-lock.json
  package.json
  providers/generic.js
Labels: repo, provider, provider-generic, npm-package-json

🎨 Remove now redundant code thanks to GenericHandler
  package-lock.json
  package.json
  providers/google-classic.js.disabled
  providers/google.js
Labels: repo, provider, provider-google, npm-package-json

🐛 Tinkering to fix OAuth2 flow with Discord and introduce body-based exchanges
  package-lock.json
  package.json
  providers/discord-classic.js.disabled
  providers/discord.js
  providers/generic.js
  providers/google.js
Labels: repo, provider, provider-google, provider-discord, provider-generic, npm-package-json

🐛 Fixed callback issue with new method of exchange
  package-lock.json
  package.json
  providers/generic.js
Labels: repo, provider, provider-generic, npm-package-json

🐛 Discord OAuth2 flow completed
  package-lock.json
  package.json
  providers/discord.js
Labels: repo, provider, provider-discord, npm-package-json

🎨 Removed async from promise executor
  providers/generic.js
Labels: provider, provider-generic

🔖 0.2.0 versioning
  package-lock.json
  package.json
Labels: repo, npm-package-json

👷‍♀️ Manually trigger npm workflow
  .github/workflows/npm-publish.yml
Labels: none

Update npm-publish.yml
  .github/workflows/npm-publish.yml
Labels: none

✨ Allow extra parameters to be passed to generic OAuth2 handler
  package-lock.json
  package.json
  providers/generic.js
Labels: repo, provider, provider-generic, npm-package-json

✨ Default providers now return usernames
  package-lock.json
  package.json
  providers/discord.js
  providers/google.js
Labels: repo, provider, provider-google, provider-discord, npm-package-json

🐛 Typo in new custom auth query params config var
  package-lock.json
  package.json
  providers/generic.js
Labels: repo, provider, provider-generic, npm-package-json

✨🚧 Start of GitHub OAuth2 flow provider
  package-lock.json
  package.json
  providers/github.js
Labels: repo, provider, provider-github, npm-package-json

🚨 Some debug logging stuff
  package-lock.json
  package.json
  providers/generic.js
Labels: repo, provider, provider-generic, npm-package-json

🎨 Remove async promise executor function
  package-lock.json
  package.json
  providers/github.js
Labels: repo, provider, provider-github, npm-package-json

🐛 Squash #31
  package-lock.json
  package.json
  providers/generic.js
Labels: repo, provider, provider-generic, npm-package-json

📝 Some code from the testing repo while I work on usage
  README.md
Labels: repo

✨ Microsoft Provider has been added
  providers/microsoft.js
Labels: provider, provider-microsoft

✨ Microsoft Provider has been added
  providers/microsoft.js
Labels: provider, provider-microsoft

🐛 Typo in Microsoft provider
  providers/microsoft.js
Labels: provider, provider-microsoft

🎨 Semicolons
  index.js
  package-lock.json
  package.json
  providers/microsoft.js
Labels: repo, provider, provider-loader, provider-microsoft, npm-package-json

🎨🎇 Tidy code, add platforms in information
  package-lock.json
  package.json
  providers/discord.js
  providers/github.js
  providers/google.js
  providers/microsoft.js
Labels: repo, provider, provider-google, provider-discord, provider-microsoft, provider-github, npm-package-json

Quick readme fixes
  README.md
Labels: repo

Restyled by prettier-markdown
  README.md
Labels: repo

Steal from atom
  CONTRIBUTING.md
Labels: repo

📝 Updating cont. guidelines
  .github/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

📝 Contribution guideliens
  .github/CONTRIBUTING.md
Labels: none

Restyled by prettier-markdown
  CONTRIBUTING.md
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

provider:
  - any: ['providers/**/*.js']

provider-loader:
  - index.js

provider-google:
  - providers/google.js

provider-discord:
  - providers/discord.js

provider-aad:
  - providers/microsoft-enterprise.js

provider-microsoft:
  - providers/microsoft.js

provider-github:
  - providers/github.js

provider-generic:
  - providers/generic.js

documentation:
  - any: ['README.md','**/*.md','docs/**/*']

npm-package-json:
  - any: ['package*json']
